.mypy_cache/
.vscode/
**/__pycache__/
docker_history.txt
work_dirs/
model_checkpoints/
tb_logs/
tb_logs_old/
nsfp_split_configs/
lightning_logs/
kylevedder_offline_sceneflow_latest.sqsh
merged_dicts.pkl
