name: Run Basic Train

on: [push]

jobs:

  prepare_runner:
    runs-on: ubuntu-latest

    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'

  # Runs on base system
  run_competition_bundler:
    runs-on: ubuntu-latest
    needs: prepare_runner

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tqdm

    - name: Setup Files
      run: |
        ./tests/setup.sh

    - name: Validate Competition Submit
      run: |
        ./tests/validate_comp_submit/run.sh

  run_constant_baseline:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh

    - name: Run constant baseline 
      run: |
        ./tests/constant_baseline/run.sh

  run_fastflow3d:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh
    
    - name: Run FastFlow3D
      run: |
        ./tests/fastflow3d/run.sh

  run_nsfp:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh
    
    - name: Run NSFP E2E one step
      run: |
        ./tests/nsfp_one_step/run.sh

  run_fast_nsf:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh
    
    - name: Run Fast NSF for several steps
      run: |
        ./tests/fast_nsf/run.sh

  run_liu_2024:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh
    
    - name: Run Liu et al. 2024 for several steps
      run: |
        ./tests/liu_2024/run.sh

  run_cache_test:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh
    
    - name: Run Cache Test
      run: |
        ./tests/cache_test/run.sh
  
  run_unit_test:
    runs-on: ubuntu-latest
    container:
      image: kylevedder/zeroflow_bucketed_cpu
    needs: prepare_runner
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Setup env
      run: |
        ./tests/setup.sh
    
    - name: Run Cache Test
      run: |
        pytest tests/unit_tests/*.py
  
  

